body {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Zilla Slab', sans-serif;*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem;
	position: sticky;
	top: 0;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	list-style-type: none;
	display: inline;
	text-align: right;
	background-color: solid white;
}

.nav {
	margin: 0.5rem;
	display: inline;
	text-align: right;
}

.nav-logo {
	margin: 0.5rem;
	display: inline;
	text-align: left;

}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 0.7rem;
	padding: 0.5rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 0.7rem;
	padding: 0.5rem;
	/*ext-align: right;*/
	position: right;
}

.front-bg {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	opacity: ;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	background-attachment: scroll;
}

#bg-image {
	background-color: black;
}

.title, .title-2 {
	font-family: Zilla Slab;
}

.title, .subtitle {
	color: white;
	text-align: right;
}

.intro, .pre-footer {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 30px;
	font-size: 0.7rem;
	padding: 0.5rem;
	margin-top: 2rem;

}

footer {
	padding: 0.7 rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}